# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bgrid
build/c++-build/*
!build/c++-build/Makefile
!build/c++-build/*.sh
!build/c++-build/*.bat
build/em-build/*
!build/em-build/Makefile
build/intel-build/*
!build/intel-build/Makefile
build/matlab-build/*.mex*

build/matlab-build/test*

*.m~
*.DS_Store
*.npz
build/python-build/__pycache__/variogram.cpython-36.pyc
