name: C/C++ CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - 'example/**'
      - '.github/**'
      - '!.github/workflows/ccpp.yml'

jobs:
  build-test:
    name: Build & Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt update
        sudo apt install -y build-essential libzmq3-dev libjsoncpp-dev zlib1g-dev libfftw3-dev libomp-dev
        wget "https://raw.githubusercontent.com/zeromq/cppzmq/master/zmq.hpp" -O include/zmq.hpp

    - name: Install dependencies (macOS)
      if: startsWith(matrix.os, 'macos')
      run: |
        brew install zeromq jsoncpp zlib fftw cppzmq libomp curl
        wget "https://raw.githubusercontent.com/zeromq/cppzmq/master/zmq.hpp" -O include/zmq.hpp

    - name: Build project
      run: |
        cd build/
        make c++ -j

    - name: Run unit tests
      run: |
        ./build/c++-build/test -sampling 1D 2D 3D
